
*{
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif
}

body{
margin:0;
background:#f4f7fb;
color:#102a56;
display:flex;
}

.sidebar{
width:260px;
height:100vh;
background:white;
padding:25px;
border-right:1px solid #ddd;
}

.sidebar h2{
font-size:18px;
}

.sidebar p{
font-size:12px;
color:#777;
}

.sidebar a{
display:block;
padding:14px;
margin:8px 0;
color:#52627a;
text-decoration:none;
border-radius:10px;
}

.sidebar .active{
background:#e7f1ff;
color:#0066cc;
}

.main{
flex:1;
padding:25px;
}

header{
display:flex;
justify-content:space-between;
}

input{
width:55%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
}

.user{
background:white;
padding:14px;
border-radius:10px;
}

.card,.metric{
background:white;
border-radius:18px;
padding:22px;
margin:15px 0;
box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.profile{
display:flex;
justify-content:space-between;
}

.stats{
display:flex;
gap:15px;
}

.stats div,.metric{
padding:18px;
background:#fafcff;
border-radius:12px;
}

.metrics{
display:flex;
gap:15px;
}

.approved{
background:#d8f7df;
color:#198754;
padding:5px 12px;
border-radius:20px;
}

.tag{
background:#dcebff;
padding:5px 10px;
border-radius:15px;
}

.progress{
height:15px;
background:#ddd;
border-radius:20px;
}

.progress div{
height:100%;
width:30%;
background:#1db5a5;
border-radius:20px;
}

button{
background:#0568d8;
color:white;
border:none;
padding:12px 18px;
border-radius:10px;
cursor:pointer;
}

.completed{
color:#8993a5;
background:#eceff3;
line-height:2.2;
}
